.alert ul, .alert p, .warning ul, .warning p {
    border: 1px solid white;
}

h2 + p {
  border-top: 1px solid gray;
}

p > span {
  background-color: green;
  filter: blur();
}

p ~ span {
  opacity: 0.8;
}
w